name: Deploy application

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Run Deployment Script
        run: |
          ./scripts/deploy_to_utv.sh
